.container {
    width: 90vw; 
    max-width: 80rem; 
    min-width: 28.125rem; 
    margin: 0 auto;
}

.slider {
    width: 100%; 
    aspect-ratio: 4 / 3;
    border: 0.3rem solid red;
    margin: 2rem auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-line {
    display: flex;
    transition: transform 0.5s ease;
    width: 500%; 
}

.slider-line img {
    width: 101%;
    height: auto;
    object-fit: fill;
    flex-shrink: 0;
}

.slider-desc {
    display: flex;
    justify-content: space-between;
}

.slider-text p {
    font-size: 1.5rem; 
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slider-text p.visible {
    opacity: 1;
}


.controls {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.control {
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    border-radius: 50%;
    margin: 0 0.5rem;
    cursor: pointer;
    border: 0.4rem solid white;
    transition: background-color 0.3s;
}

.control.active {
    background-color: gray;
    border: 0.4rem solid black;
}

.control:hover {
    background-color: gray;
}

@media (min-width: 20rem) and (max-width: 48rem) {
    .slider-desc {
        display: flex;
        flex-direction: column-reverse;
    }

    .slider-text{
        text-align: left;
    }

    .controls {
        display: flex;
        margin-top: 1rem;
        justify-content: center;
    }
}